@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Pruebas...</h1>
    <p>...para familiarizarme un poco con el desarrollo web.</p>
</div>

<div>
    <br />
    <hr />
    <br />
    <br />
    <a href="\Pruebas_HTML.html">Clic aquí para usar el cálculo a través de una página HTML estandar.</a>
    <br />
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pruebas_RAZOR">Clic aquí para usar el cálculo a través de una página RAZOR.</a>
</div>
